{
  "hooks": {
    "pre-commit": "npm run format && npm run lint && npm run prettier && npm run eslint:fix",
    "pre-push": "npm test && npm run lint",
    "commit-msg": "commitlint -E HUSKY_GIT_PARAMS",
    "post-merge": "npm install",
    "post-checkout": "npm install",
    "pre-rebase": "npm run lint"
  }
}
